<div class="onboarderhomepage">
    <div class="onboarderhomepage__body">
        <h1>Onboard items</h1>
    </div>
    <div class="onboarderhomepage__navbar">
        <!-- <div class="onboarderhomepage__navbar-facility" (click)="goToFacilityOnboarder()">Add Facilty</div> -->
        <a routerLink="facility">Add Facility</a>
        <a routerLink="meetingroom">Add Meeting Room</a>
        <a routerLink="cabin">Add Cabin</a>
        <a routerLink="seat">Add Seat</a>
        <a routerLink="employee">Add Employee</a>   
    </div>
</div>
