<div class="homepage">
    <div class="homepage__body">
        <h1>SEAT MANAGEMENT SYSTEM</h1>
    </div>
    <div class="homepage__navbar">
        <div class="homepage__navbar-itemonboarder">
            <a routerLink="/onboard-items">Add new Items</a>
          </div>
          <div class="homepage__navbar-employeemanager">
            <a routerLink="/manage-employees">Manage employee seating</a>
          </div>
          <div class="homepage__navbar-amenitymanager">
            <a routerLink="/manage-amenities">Manage Amenities</a>
          </div>
          <div class="homepage__navbar-reportManager">
            <a routerLink="/reports">View Reports</a>
          </div>
          
    </div>
</div>
