<div class="employeemanagerHomepage">
    <div class="employeemanagerHomepage__body">
        <h1>Manage Employee Seating</h1>
    </div>
    <div class="employeemanagerHomepage__navbar">
        <a class="employeemanagerHomepage__navbar-allocateseat" routerLink="allocate-seat">Allocate employee to seat</a>
        <a class="employeemanagerHomepage__navbar-deallocateseat" routerLink="deallocate-from-seat">Deallocate employee from seat</a>
        <a class="employeemanagerHomepage__navbar-allocatecabin" routerLink="allocate-cabin">Allocate employee to cabin</a>
        <a class="employeemanagerHomepage__navbar-deallocatecabin" routerLink="deallocate-from-cabin">Deallocate employee from cabin</a>
    </div>
</div>
